{% extends 'layout.html' %}

{% block body %}
<main role="main">
  <div class="jumbotron">
    <div class="container">
      <div align="center"><p>We are a team of highly skilled SEs with the mission of taking our customers problems and turn them into customer opportunities by designing & building next-gen business solutions that leverage our entire Oracle Cloud stack, our modern DevOps platform, our Agile development best practices, and our very talented Cloud developers.</p></div>
      <div align="center"><p>We have created this podcast channel with one goal, share knowledge. Have you tried something useful while seating in your car, commuting?<p><img src="https://objectstorage.us-ashburn-1.oraclecloud.com/p/3v0jwOIcY292khv9zEKPLVzvU2VHE6TQHqApo9fDd5A/n/oraclenassaleorg/b/podcastchannel/o/drive.jpg"  width="180" height="300"></p>
      <p><img src="https://objectstorage.us-ashburn-1.oraclecloud.com/p/yejABW69SS9I5jGTqT1nl4omcyOsIQReVPFQjK6ZGPs/n/oraclenassaleorg/b/podcastchannel/o/hubster.jpg" alt="Innovation and SE excellence" width="1000" height="600"></p>
    </div>
  </div>
</main>

{% endblock %}
