{% extends 'layout.html' %}

{% block body %}
<main role="main">
<head>
	<style>
	th, td {
    padding: 15px;
}
#videosTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
 th:hover {background-color: #f5f5f5;}
	</style>
</head>

	<div class="jumbotron">
		<div class="container">
			<div align="center"><h1 class="display-3">Welcome to the SE HUB Podcast Channel!</h1></div>
			<div align="center"><p>This is an episodic series of digital media files related to the Oracle Cloud.
This is the first Cloud Oracle podcast channel. Did you know that podcast means a digital audio or video file made available on the Internet for downloading to a computer or mobile device, typically available as a series, new installments. For apple's lovers, the word podcast comes from "iPod" and "broadcast". Thus, the files distributed are typically in audio or video formats, but may sometimes include other file formats such as PDF or ePub. The term was invented by  BBC journalist Ben 	Hammersley in 2004, other names for podcasting include "net cast".</p></div>
</main>
<table style="width:100%">
  	{% for row in mylist %}
		<tr align="center">
		<th>
			  	<h5>{{ row.title }}</h5>
				  <video width="620" poster={{ row.thumbnail }} controls>
			 		 		<source src={{ row.link }} type="video/mp4" >
				 	</video>
				 	<p>{{ row.description }}</p>
		</th>
		</tr>
	 {% endfor %}
{% endblock %}
