{% extends 'layout.html' %}

{% block body %}
<main role="main">
	<div class="jumbotron">
		<div class="container">
			<div align="center"><h1 class="display-3">Welcome to the SE HUB Podcast Channel!</h1></div>
			<div align="center"><p>This is an episodic series of digital media files related to the Oracle Cloud.
This is the first Cloud Oracle podcast channel. Did you know that podcast means a digital audio or video file made available on the Internet for downloading to a computer or mobile device, typically available as a series, new installments. For apple's lovers, the word podcast comes from "iPod" and "broadcast". Thus, the files distributed are typically in audio or video formats, but may sometimes include other file formats such as PDF or ePub. The term was invented by  BBC journalist Ben 	Hammersley in 2004, other names for podcasting include "net cast".</p></div>
</main>
<div class="container">
	<div class="row">
		<div class="col-md-6">
    	<h2>Video 3</h2>
			<video width="520" poster="https://objectstorage.us-ashburn-1.oraclecloud.com/p/YOZK84AE2BnAsX0uCkHUb0UNr-sWJhf6PvpVgwpDung/n/oraclenassaleorg/b/podcastchannel/o/videotn1.jpg" controls>
			  <source src="https://objectstorage.us-ashburn-1.oraclecloud.com/p/u-nGGsXjeJ9_Ezk11ENGL5DBmlBc8xUg70L5Iafslf0/n/oraclenassaleorg/b/podcastchannel/o/innovation.mp4" type="video/mp4">
			</video>
			<p>Oracle SVP, Steve Daheb discusses the Oracle Cloud vision and strategy that will support your businesses journey to the cloud.</p1>
    </div>
		<div class="col-md-6">
		 	<h2>Video 3</h2>
			<video width="520" controls>
			  <source src="https://objectstorage.us-ashburn-1.oraclecloud.com/p/H3N8LmxZWg-0oxmFH9FraSr62MDcr1FBY4vZlke9tFU/n/oraclenassaleorg/b/podcastchannel/o/strategy.mp4" type="video/mp4">

			</video>
		</div>
	</div>
</div>

{% endblock %}
