<!DOCTYPE html>
<!-- This will be the layout for almost of webpages in the website. To avoid reqritting cose, I will be able just to include "layout.html" and the structure I want -->
<html>
	<head>
		<meta charset="utf-8">
		<title>SE HUB Podcast Channel</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
			</link>
	</head>
	<body>
		{% include 'includes/_navbar.html' %}
		<div class="container">
			{% include 'includes/_messages.html' %}
			{% block body %}{% endblock %}
		</div>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
		</script>
	</body>
</html>
